.login {
  background-color: #efefef;
}
.login-card {
  width: 100%;
  height: 90vh;
  margin-top: 45px;
}
.aside {
  /* background-color: #ffab00; */
  background-image: url("../../../assets/images/recipe.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.side {
  height: 90vh;
  background-color: #ffab00;
  width: 139px;
}
.login-form {
  width: 60%;
  margin: 0 auto;
}
.header {
  text-align: center;
}
.input-box {
  height: 45px;
  padding-left: 10px;
  line-height: 35px;
}
