<div class="login animated fadeIn">
  <div class="row">
    <div class="col aside s12 hide-on-med-and-down l3"></div>
    <div class="col login-area s12 l9">
      <div class="card z-depth-4 login-card horizontal">
        <div class="card-stacked">
          <div *ngIf="isLoading" class="progress">
            <div class="indeterminate"></div>
          </div>
          <div class="card-content">
            <div class="login-form">
              <div class="header text-center">
                <h5>Login</h5>
              </div>
              <div class="row">
                <form
                  (submit)="login($event)"
                  [formGroup]="loginForm"
                  class="col s12"
                >
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input
                        formControlName="email"
                        id="icon_prefix"
                        required
                        type="text"
                        class="validate"
                      />
                      <label for="icon_prefix">Email Address</label>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">lock</i>
                      <input
                        formControlName="password"
                        id="icon_telephone"
                        type="password"
                        required
                        class="validate "
                      />
                      <label for="icon_telephone">Password</label>
                    </div>

                    <div class="input-field col s12">
                      <a class="grey-text right" href="">Forgot password ?</a>
                      <br /><br />
                      <button
                        [disabled]="!loginForm.valid || isLoading"
                        style="width: 100%;color: black !important;"
                        class="btn hoverable waves-effect amber accent-4 waves-light"
                        type="submit"
                        name="action"
                      >
                        Login
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card-action">
            <a title="Go back" routerLink="/"
              ><i class="material-icons">
                arrow_back
              </i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
