<div class="landing-banner">
  <div class="landing-overlay">
    <div class="container">
      <div class="welcome-text">
        <h3>Que Management System</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
          consequuntur
        </p>
        <br />
        <div class="row">
          <div class="col s2"></div>
          <div class="col landing-buttons animated fadeInUp s8">
            <div>
              <a
                routerLink="/auth/login"
                class="waves-effect hoverable amber accent-4 waves-light btn-large"
                ><i class="material-icons left">account_circle</i>System
                Administrator</a
              >
            </div>
            <div>
              <a
                routerLink="/ques"
                class="waves-effect hoverable white black-text waves-light btn-large"
                ><i class="material-icons left">reorder</i>

                Waiting area visualization
              </a>
            </div>
          </div>
          <div class="col s2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
