.landing-banner {
  height: 100vh;
  background-image: url("../../assets/images/recipe.jpg");
  background-size: cover;
  background-position: center;
}
.landing-overlay {
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); */
  background: rgba(0, 0, 0, 0.6);
}
.welcome-text {
  text-align: center;
  height: auto;
}
.welcome-text h3 {
  margin-top: 0px !important;
  padding-top: 130px;
  font-weight: 700;
  color: white;
}
.welcome-text p {
  color: #efefef;
}
.landing-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
