<div class="container">
    <div class="row">
        <div class="col l3"></div>
        <div class="col l6">
            <img src="../../assets/images/404.gif"/>
            <br>
            <a  routerLink="/" class="waves-effect waves-light btn-block amber accent-4 btn-large"><i class="material-icons right">arrow_back</i>Go back</a>

        </div>
    </div>
</div>