<div class="navbar-fixed">
  <nav class="amber z-depth-0 accent-4">
    <div class="nav-wrapper">
      <a routerLink="/home" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a routerLink="/home" title="Add to que"
            ><i class="material-icons left">add_to_queue</i></a
          >
        </li>
        <li>
          <a target="_blank" itle="View Added Ques" routerLink="/ques"
            ><i class="material-icons left">airplay</i></a
          >
        </li>
        <li *ngIf="user">
          <a (click)="_auth.logout()" title="click to logout"
            ><i class="material-icons left">account_circle</i>{{ user.name }}</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
