.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  background-color: #fafafa;
  margin-top: 5px;
  cursor: pointer;
}
.flex-container:hover {
  background-color: #efefef;
  transition: ease-in 0.5s;
}
.avatar {
  height: 70px;
  background-image: url("../../assets/images/avatar.png");
  background-position: center;
  background-size: cover;
  width: 70px;
}
.title {
  font-weight: 700;
}
.delete-icons:hover {
  color: crimson;
}
.play-icon:hover {
  color: green;
}
.counter-text {
  font-size: 2rem;
  color: #555;
}
