<div *ngIf="feeds.length==0" class="progress">
  <div class="indeterminate"></div>
</div>
<div class="timer">
  <span class="minutes"></span>
  <span>:</span>
  <span class="seconds"></span>
</div>
<div  class="row">
  <div *ngIf="currentRoute!='/ques'" class="col s12 l12">
    <div *ngIf="feeds.length!==0" class="header">
      <h6>Active</h6>
  
      <div class="divider"></div>
    </div>
    <!-- List of active customers -->
    <div *ngFor="let feed of feeds; let i = index">
      <div
      (click)="pause()"
        *ngIf="feed.isActive == 0"
        class="flex-container animated fadeIn "
      >
        <div class="avatar"></div>
        <div>
          <span class="title">{{ feed.name }}</span>
          <br />
          <span>{{ feed.phone | phone  }}</span>
        </div>
        <div>
          <span class=" counter-text">
            <countdown-timer
             
            class="badTimer"
              (zeroTrigger)="notify(i, feed.phone, $event)"
              [end]="feed.end_time"
            ></countdown-timer>
          </span>
         
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 l12">
    <div *ngIf="feeds.length!==0"  class="header">
      <h6>Waiting</h6>
      <div class="divider"></div>

      <div *ngFor="let feed of feeds; let i = index">
        <div
          *ngIf="feed.isActive == 2"
          class="flex-container animated fadeIn "
        >
          <div class="avatar"></div>
          <div>
            <span class="title">{{ feed.name }}</span>
            <br />
            <span>{{ feed.phone | phone }}</span>
          </div>
          <div>
            <span class="badge yellow white-text">
              waiting...
            </span>
            <i
            [ngStyle]="currentRoute=='/ques' ? {'display': 'none'}:null"
              title="Start session"
              style="cursor: pointer;"
              class="material-icons play-icon"
            >
              play_circle_outline
            </i>

            <i
            [ngStyle]="currentRoute=='/ques' ? {'display': 'none'}:null"
              title="Delete forever"
              style="cursor: pointer;"
              class="material-icons delete-icons"
            >
              delete_forever
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="currentRoute!='/ques'" class="col s12 l12">
  <div class="right">
    <i style="cursor: pointer;" title="Clear history" class="material-icons">
      delete_sweep
    </i>
  </div>
  <div *ngIf="feeds.length!==0"  class="header">
    <h6>Completed</h6>

    <div class="divider"></div>

    <div *ngFor="let feed of feeds; let i = index">
      <div
        *ngIf="feed.isActive == 1"
        class="flex-container animated fadeIn"
      >
        <div class="avatar"></div>
        <div>
          <span class="title">{{ feed.name }}</span>
          <br />
          <span>{{ feed.phone | phone }}</span>
        </div>
        <div>
          <span class="badge black white-text">
            completed...
          </span>

          <i
            title="Delete forever"
            style="cursor: pointer;"
            class="material-icons delete-icons"
          >
            delete_forever
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
