/* You can add global styles to this file, and also import other style files */
@import "./assets/css/animate.css";
body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  min-height: 100vh;
  color: black;
  flex-direction: column;
}
