.form-control {
  width: 100%;
  height: 45px;
  padding-left: 15px;
  border-radius: 50px;
  border: none;
  background-color: #efefef;
  outline: none;
}
#label {
  font-size: 16px;
  font-family: "montserrat";
}
