<app-navbar></app-navbar>
<main>
  <div class="cntainer">
    <div class="row">
      <div class="col l4">
        <div class="card z-depth-1">
          <div *ngIf="isSending" class="progress">
            <div class="indeterminate"></div>
          </div>
          <div class="card-image"></div>
          <div class="card-content">
            <h5>Create New Customer</h5>
            <div class="divider"></div>
            <br />
            <div class="row">
              <form
                (submit)="createCustomer()"
                [formGroup]="customerForm"
                class="col s12"
              >
                <div class="row">
                  <div class=" col s12">
                    <label id="label" for="icon_prefix">Names</label>
                    <input
                      formControlName="name"
                      id="icon_prefix"
                      required
                      autofocus
                      type="text"
                      class="validate form-control browser-default"
                    />
                  </div>
                  <div class=" col s12">
                    <label id="label" for="icon_telephone">Phone</label>
                    <input
                      formControlName="phone"
                      id="icon_telephone"
                      type="tel"
                      class="validate form-control browser-default"
                    />
                  </div>
                  <div class=" col s12">
                    <label id="label">Select time</label>
                    <select
                      formControlName="approx_time"
                      class="browser-default"
                    >
                      <option value="" disabled selected
                        >Choose your option</option
                      >
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="30">30</option>
                      <option value="45">45</option>
                      <option value="custom">Custom</option>
                    </select>
                  </div>
                  <br />
                  <br />
                  <div *ngIf="showField" class=" col s12">
                    <label id="label" for="icon_telephone"
                      >Enter custom time (mins)</label
                    >
                    <input
                      formControlName="custom"
                      id="icon_telephone"
                      type="text"
                      class="validate form-control browser-default"
                    />
                  </div>
                </div>
                <button
                  type="submit"
                  [disabled]="isSending"
                  title="Add to queue"
                  class="btn-floating halfway-fab btn-large waves-effect waves-light amber accent-4"
                >
                  <i class="material-icons">send</i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 l8">
        <app-feed></app-feed>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</main>
